@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --primary-color: #2042b6;
  --secondary-color: #ffffff;
  --xxl: 76px;
  --xl: 48px;
  --l: 36px;
  --s: 16px;
}
* {
  font-family: "Libre Caslon Text", serif;

  font-style: normal;
  padding: 0;
  margin: 0;
}
body {
  background-color: #ededed;
}
.bg-prime {
  background: var(--primary-color);
}
.text-prime {
  color: var(--primary-color);
}
.text_xxl {
  font-size: var(--xxl);
  font-weight: 400;
}
.text_xl {
  font-size: var(--xl);
  font-weight: 400;
}
.text_l {
  font-size: var(--l);
  font-weight: 400;
}
.text_s {
  font-size: var(--s);
  font-weight: 350;
}
.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Image animation */
.image_animation {
  scale: 0.8;
  opacity: 0;
  animation: fade_in linear forwards;
  animation-timeline: view();
  animation-range: 250px 500px;
  /* Animation starts as soon as the scroll position is 500 pixels or more from the top of the viewport. */
}
@keyframes fade_in {
  to {
    scale: 1;
    opacity: 1;
  }
}

/* Loader Animation     */
.loader-wrapper {
  animation: scaleUpDown 1s ease-in-out infinite;
}
@keyframes scaleUpDown {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.nav_btn.active {
  background-color: #afcd80;
}
